.category {
    margin: 10px 0;
    padding: 5px 10px 0;
    background-color: #e1e1e1;
    color: #666;
    cursor: pointer;
    word-wrap: break-word;
    width: 300px;
    min-height: 48px;
    vertical-align: middle;
    line-height: 35px;
    transition: all .4s ease;
}

.category:hover{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    background: #2098D1;
    color: white;
}